In [1]:
import pandas as pd

df = pd.read_csv("../kaggle-dataset/villagers.csv")
df.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP
3,Al,Gorilla,Male,Lazy,Fitness,18-Oct,ayyyeee,Go K.K. Rider,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,Alligator,Male,Lazy,Play,9-Jun,it'sa me,Forest Life,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE

In [2]:
stylecolor1 = pd.get_dummies(df, columns=['Style 1', 'Color 1'], dtype=int)

# 더미 값들이 많아서 열이 너무 많이 생기는 문제 발생
pd.options.display.max_columns = None   # columns를 모두 display 해줘라!

stylecolor1.head(3)

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 2,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID,Style 1_Active,Style 1_Cool,Style 1_Cute,Style 1_Elegant,Style 1_Gorgeous,Style 1_Simple,Color 1_Beige,Color 1_Black,Color 1_Blue,Color 1_Brown,Color 1_Colorful,Color 1_Gray,Color 1_Green,Color 1_Light blue,Color 1_Orange,Color 1_Pink,Color 1_Purple,Color 1_Red,Color 1_White,Color 1_Yellow
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Simple,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Elegant,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [3]:
# one-hot encoding을 진행해줬던 열들의 이름이 '(one-hot encode 당한 열의 이름)_(해당 열의 속성값)'으로 구성되어있음
# 가독성을 위해, '(해당 열의 속성값)'만 남겨두고 언더바부터 앞의 문자까지 삭제해주는 전처리 진행

# 미리 지정해둔 함수를 통해 전처리
from dfrename import *

check = rename_columns(stylecolor1)
check.head(3)

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 2,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID,Active,Cool,Cute,Elegant,Gorgeous,Simple,Beige,Black,Blue,Brown,Colorful,Gray,Green,Light blue,Orange,Pink,Purple,Red,White,Yellow
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Simple,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Elegant,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [4]:
check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             391 non-null    object
 1   Species          391 non-null    object
 2   Gender           391 non-null    object
 3   Personality      391 non-null    object
 4   Hobby            391 non-null    object
 5   Birthday         391 non-null    object
 6   Catchphrase      391 non-null    object
 7   Favorite Song    391 non-null    object
 8   Style 2          391 non-null    object
 9   Color 2          391 non-null    object
 10  Wallpaper        391 non-null    object
 11  Flooring         391 non-null    object
 12  Furniture List   391 non-null    object
 13  Filename         391 non-null    object
 14  Unique Entry ID  391 non-null    object
 15  Active           391 non-null    int32
 16  Cool             391 non-null    int32
 17  Cute             391 non-null    int32
 18  Elegant          391 non-null    int32
 19  Gorgeous         391 non-null    int32
 20  Simple           391 non-null    int32
 21  Beige            391 non-null    int32
 22  Black            391 non-null    int32
 23  Blue             391 non-null    int32
 24  Brown            391 non-null    int32
 25  Colorful         391 non-null    int32
 26  Gray             391 non-null    int32
 27  Green            391 non-null    int32
 28  Light blue       391 non-null    int32
 29  Orange           391 non-null    int32
 30  Pink             391 non-null    int32
 31  Purple           391 non-null    int32
 32  Red              391 non-null    int32
 33  White            391 non-null    int32
 34  Yellow           391 non-null    int32
dtypes: int32(20), object(15)
memory usage: 76.5+ KB

In [5]:
# 'Style 2' and 'Color 2' values 기반으로 columns 값 업데이트
style_columns = ['Active', 'Cool', 'Cute', 'Elegant', 'Gorgeous', 'Simple']
color_columns = ['Beige', 'Black', 'Blue', 'Brown', 'Colorful', 'Gray', 'Green', 'Light blue', 'Orange',
                 'Pink', 'Purple', 'Red', 'White', 'Yellow']

# 각 행을 돌면서 그 값에 맞는 열에 맞게 값 업데이트
for index, row in check.iterrows():
    # Update for Style 2
    style_value = row['Style 2']
    if style_value in style_columns:
        check.at[index, style_value] += 1
    
    # Update for Color 2
    color_value = row['Color 2']
    if color_value in color_columns:
        check.at[index, color_value] += 1

check.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 2,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID,Active,Cool,Cute,Elegant,Gorgeous,Simple,Beige,Black,Blue,Brown,Colorful,Gray,Green,Light blue,Orange,Pink,Purple,Red,White,Yellow
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3,0,2,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Simple,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Elegant,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
3,Al,Gorilla,Male,Lazy,Fitness,18-Oct,ayyyeee,Go K.K. Rider,Active,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
4,Alfonso,Alligator,Male,Lazy,Play,9-Jun,it'sa me,Forest Life,Simple,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,0,0,1,0,0

In [6]:
df = check.drop(['Birthday', 'Catchphrase', 'Style 2', 'Color 2', 'Furniture List', 'Unique Entry ID', 'Flooring', 'Filename', 'Wallpaper'], axis=1)
df.head()

,Name,Species,Gender,Personality,Hobby,Favorite Song,Active,Cool,Cute,Elegant,Gorgeous,Simple,Beige,Black,Blue,Brown,Colorful,Gray,Green,Light blue,Orange,Pink,Purple,Red,White,Yellow
0,Admiral,Bird,Male,Cranky,Nature,Steep Hill,0,2,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
1,Agent S,Squirrel,Female,Peppy,Fitness,Go K.K. Rider,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,Agnes,Pig,Female,Big Sister,Play,K.K. House,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
3,Al,Gorilla,Male,Lazy,Fitness,Go K.K. Rider,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
4,Alfonso,Alligator,Male,Lazy,Play,Forest Life,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,0,0,1,0,0

In [7]:
encoded = pd.get_dummies(df, columns=['Gender', 'Species', 'Personality', 'Hobby'], dtype=int)
check = rename_columns(encoded)
check.head(3)

,Name,Favorite Song,Active,Cool,Cute,Elegant,Gorgeous,Simple,Beige,Black,Blue,Brown,Colorful,Gray,Green,Light blue,Orange,Pink,Purple,Red,White,Yellow,Female,Male,Alligator,Anteater,Bear,Bird,Bull,Cat,Chicken,Cow,Cub,Deer,Dog,Duck,Eagle,Elephant,Frog,Goat,Gorilla,Hamster,Hippo,Horse,Kangaroo,Koala,Lion,Monkey,Mouse,Octopus,Ostrich,Penguin,Pig,Rabbit,Rhino,Sheep,Squirrel,Tiger,Wolf,Big Sister,Cranky,Jock,Lazy,Normal,Peppy,Smug,Snooty,Education,Fashion,Fitness,Music,Nature,Play
0,Admiral,Steep Hill,0,2,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,Agent S,Go K.K. Rider,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,Agnes,K.K. House,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [8]:
check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 73 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           391 non-null    object
 1   Favorite Song  391 non-null    object
 2   Active         391 non-null    int32
 3   Cool           391 non-null    int32
 4   Cute           391 non-null    int32
 5   Elegant        391 non-null    int32
 6   Gorgeous       391 non-null    int32
 7   Simple         391 non-null    int32
 8   Beige          391 non-null    int32
 9   Black          391 non-null    int32
 10  Blue           391 non-null    int32
 11  Brown          391 non-null    int32
 12  Colorful       391 non-null    int32
 13  Gray           391 non-null    int32
 14  Green          391 non-null    int32
 15  Light blue     391 non-null    int32
 16  Orange         391 non-null    int32
 17  Pink           391 non-null    int32
 18  Purple         391 non-null    int32
 19  Red            391 non-null    int32
 20  White          391 non-null    int32
 21  Yellow         391 non-null    int32
 22  Female         391 non-null    int32
 23  Male           391 non-null    int32
 24  Alligator      391 non-null    int32
 25  Anteater       391 non-null    int32
 26  Bear           391 non-null    int32
 27  Bird           391 non-null    int32
 28  Bull           391 non-null    int32
 29  Cat            391 non-null    int32
 30  Chicken        391 non-null    int32
 31  Cow            391 non-null    int32
 32  Cub            391 non-null    int32
 33  Deer           391 non-null    int32
 34  Dog            391 non-null    int32
 35  Duck           391 non-null    int32
 36  Eagle          391 non-null    int32
 37  Elephant       391 non-null    int32
 38  Frog           391 non-null    int32
 39  Goat           391 non-null    int32
 40  Gorilla        391 non-null    int32
 41  Hamster        391 non-null    int32
 42  Hippo          391 non-null    int32
 43  Horse          391 non-null    int32
 44  Kangaroo       391 non-null    int32
 45  Koala          391 non-null    int32
 46  Lion           391 non-null    int32
 47  Monkey         391 non-null    int32
 48  Mouse          391 non-null    int32
 49  Octopus        391 non-null    int32
 50  Ostrich        391 non-null    int32
 51  Penguin        391 non-null    int32
 52  Pig            391 non-null    int32
 53  Rabbit         391 non-null    int32
 54  Rhino          391 non-null    int32
 55  Sheep          391 non-null    int32
 56  Squirrel       391 non-null    int32
 57  Tiger          391 non-null    int32
 58  Wolf           391 non-null    int32
 59  Big Sister     391 non-null    int32
 60  Cranky         391 non-null    int32
 61  Jock           391 non-null    int32
 62  Lazy           391 non-null    int32
 63  Normal         391 non-null    int32
 64  Peppy          391 non-null    int32
 65  Smug           391 non-null    int32
 66  Snooty         391 non-null    int32
 67  Education      391 non-null    int32
 68  Fashion        391 non-null    int32
 69  Fitness        391 non-null    int32
 70  Music          391 non-null    int32
 71  Nature         391 non-null    int32
 72  Play           391 non-null    int32
dtypes: int32(71), object(2)
memory usage: 114.7+ KB

In [9]:
crawled = pd.read_csv('../prep_data_files/crawled_kor_name.csv')
crawled.head(2)

      Name Korean Name
0  Admiral          일섭
1  Agent S          2호

In [10]:
before_concat = check.iloc[:, 2:]
before_concat.head(3)

,Active,Cool,Cute,Elegant,Gorgeous,Simple,Beige,Black,Blue,Brown,Colorful,Gray,Green,Light blue,Orange,Pink,Purple,Red,White,Yellow,Female,Male,Alligator,Anteater,Bear,Bird,Bull,Cat,Chicken,Cow,Cub,Deer,Dog,Duck,Eagle,Elephant,Frog,Goat,Gorilla,Hamster,Hippo,Horse,Kangaroo,Koala,Lion,Monkey,Mouse,Octopus,Ostrich,Penguin,Pig,Rabbit,Rhino,Sheep,Squirrel,Tiger,Wolf,Big Sister,Cranky,Jock,Lazy,Normal,Peppy,Smug,Snooty,Education,Fashion,Fitness,Music,Nature,Play
0,0,2,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [11]:
final = pd.concat([crawled, before_concat], axis=1)
final.head(3)

,Name,Korean Name,Active,Cool,Cute,Elegant,Gorgeous,Simple,Beige,Black,Blue,Brown,Colorful,Gray,Green,Light blue,Orange,Pink,Purple,Red,White,Yellow,Female,Male,Alligator,Anteater,Bear,Bird,Bull,Cat,Chicken,Cow,Cub,Deer,Dog,Duck,Eagle,Elephant,Frog,Goat,Gorilla,Hamster,Hippo,Horse,Kangaroo,Koala,Lion,Monkey,Mouse,Octopus,Ostrich,Penguin,Pig,Rabbit,Rhino,Sheep,Squirrel,Tiger,Wolf,Big Sister,Cranky,Jock,Lazy,Normal,Peppy,Smug,Snooty,Education,Fashion,Fitness,Music,Nature,Play
0,Admiral,일섭,0,2,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,Agent S,2호,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,Agnes,아그네스,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [12]:
final.insert(2, 'Rank', 0)
final.head(3)

,Name,Korean Name,Rank,Active,Cool,Cute,Elegant,Gorgeous,Simple,Beige,Black,Blue,Brown,Colorful,Gray,Green,Light blue,Orange,Pink,Purple,Red,White,Yellow,Female,Male,Alligator,Anteater,Bear,Bird,Bull,Cat,Chicken,Cow,Cub,Deer,Dog,Duck,Eagle,Elephant,Frog,Goat,Gorilla,Hamster,Hippo,Horse,Kangaroo,Koala,Lion,Monkey,Mouse,Octopus,Ostrich,Penguin,Pig,Rabbit,Rhino,Sheep,Squirrel,Tiger,Wolf,Big Sister,Cranky,Jock,Lazy,Normal,Peppy,Smug,Snooty,Education,Fashion,Fitness,Music,Nature,Play
0,Admiral,일섭,0,0,2,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,Agent S,2호,0,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,Agnes,아그네스,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [14]:
final.to_csv('../prep_data_files/beready_villagers.csv', index=False)
# 인기 순위는 crawling 가능하면 crawling 하고, 안되면 수기로 작성
# 일단 korean name까지 크롤링 한 거 합해서 데이터로 만들기!